<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description"
          content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Your name goes here">
    <meta name="copyright" content="Maybe consider a Creative Commons license">
    <link rel="stylesheet" href="{{page.root}}css/blog.css">
    <link rel="stylesheet" href="{{page.root}}css/foundation.css">
    <link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
    <link rel="stylesheet" href="{{page.root}}css/coderay.css">
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
    <script src="{{page.root}}js/vendor/modernizr.js"></script>
    <script src="{{page.root}}js/toc.js"></script>
</head>
<body>


<!-- Nav Bar -->

<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="{{page.root}}">{{site.title}}</a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns" role="contentTitle">
        <h1>{{ page.title  }}</h1>
        <p class="postDate">{{ page.date | date_to_long_string }}<p>
        <p>{{ page.categories }}</p>
    </div>
    <div class="large-9 columns" role="content">
    {{ content }}
    </div>
    <!-- End Main Content -->
    <!-- Sidebar -->

    <aside class="large-3 columns">
        <h4>Posts</h4>
        <ul id="posts" class="posts nav">
            {% for post in site.posts limit: 5 %}
            <li><a href=".{{ post.url }}">{{ post.navtitle }}</a></li>
            {% endfor %}
        </ul>

        <div class="panel">
            <h5>Related</h5>

            <ul id="relatedPosts" class="posts nav">
                {% for post in site.related_posts limit: 5 %}
                <li><a href=".{{ post.url }}">{{ post.navtitle }}</a></li>
                {% endfor %}
            </ul>
        </div>

    </aside>

    <!-- End Sidebar -->

    <div class="large-12 columns" role="comments">
        <div id="disqus_thread"></div>
        <script>

            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://johara.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
    </div>
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
    <div class="large-12 columns">
        <hr>
        <div class="row">
            <div class="large-12 columns">
                <p>Footer</p>
            </div>
        </div>
    </div>
</footer>

<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/foundation.min.js"></script>
<script>
    $(document).foundation();
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>
